header{

}

h3{
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.login-img{
	margin-top: 3vh;
	margin-left: 5%;
	position: absolute;
	width: 90%;
	height: 95%;
	-webkit-filter: blur(3px);
}

.card-login{
	margin-top: 30vh;
	margin-bottom: 30vh;
}

.login-input{
	margin-bottom: 5vh;
}

.card-title{
	margin-bottom: 3vh;
}

footer{
	margin-top: 5vh;
	position: relative;
	background-color: #ddefce;
}

ul{
	width:-webkit-fill-available;
}

li{
	color: #495057;
	align-items: flex-start;
	display: inline;
	list-style-type: none;
}

.logo{
	-webkit-filter: blur(0.5px);
}
